<h1>Comments</h1>
<ng-container *ngFor="let item of data">
  <h3>{{ item.id }}. {{ item.writer }}</h3>
  <p>{{ item.text }}</p>
  <button (click)="updateMode()">Update comment</button>
  <button (click)="delete(item.id)">Delete comment</button>
  <div class="success" *ngIf="updateSuccess === true">Updated!</div>
  <div class="update" *ngIf="update === true">
    <textarea [(ngModel)]="item.text"></textarea>
    <button (click)="updateComment(item.id, item.text)">Save</button>
  </div>
</ng-container>
<!-- {{data | json}} -->
