<h1>Comments</h1>
<h3 *ngIf="updateSuccess === true">Updated!</h3>
<ng-container *ngIf="singleData === true">
  <ng-container *ngIf="data | async as comments">
    <ng-container *ngFor="let comment of comments">
      <h3>{{ comment.id }}. {{ comment.writer }}</h3>
      <p class="comment" (click)="showAll(comment.id)">{{ comment.text }}</p>
      <a (click)="updateMode()">Update</a>
      <!-- <a (click)="delete(comment.id)">Delete</a> -->
      <div class="update" *ngIf="update === true">
        <textarea [(ngModel)]="comment.text"></textarea>
        <button (click)="updateComment(comment.id, comment.text, comment.writer)">Save</button>
      </div>
    </ng-container>
  </ng-container>
  <!-- <ng-container *ngFor="let item of data">
    <ng-container *ngIf="item.id === bigId">
      <h3>{{ item.id }}. {{ item.writer }}</h3>
      <p>{{ item.text }}</p>
    </ng-container> -->
</ng-container>
